body > header,
#content {
	position: relative;
	max-width: 60em;
	margin: 0 auto;
}
body > header {
	padding: .5em 1em;
}
#content {
	padding: 0 1em 2em 1em;
}
#top-h1 {
	width: 100%;
	text-align: center;
}
.vertical-centre {
	min-height: 100vh;
	margin: 0;
	display: flex;
	align-items: center;
	flex-direction: column;
}
.vertical-centre form {
	min-height: 75vh;
	display: flex;
	align-items: center;
}

#message-pane p {
	margin: 0;
}

#message-form p {
	margin: 0;
	padding: 0 0 0.5em 0;
	clear: both;
}

#message-form p input,
#message-form p select,
#message-form p label {
	float: left;
}

#message-form p label {
	clear: both;
	width: 8em;
	text-align: right;
	padding: 0 0.5em 0 0;
}

#message-form input.submit {
	position: relative;
	display: block;
	clear: both;
	width: 10em;
	text-align: center;
	margin-left: 8em;
}


#message-pane p.info {
	padding: 0.625em 0 0.125em 0;
	color: #999999;
}

#message-pane p.text {
	padding: 0 0 0.125em 1.5em;
}
